html {
    font-family: 'Roboto';
   background: linear-gradient(#131313, #131313, #161616, #202020);
    color: #a09797;
}
a {
    text-decoration: none;
}
a:visited {
    color: #ada5a5;
    
}

h1 {
    font-size: 35px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    
}

li {
    
    list-style-type: none;
    height: 450px;
    line-height: -25rem;
}

footer{
    text-align: center;

}
table {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    
    width: 700px;
    height: 250px;
    font-size: 25px;
    right: -375px
}

th {
    border: solid ; 
   }

td {
    border: solid ; 
     
}

form{
    margin-left: 60px;
    
    height: 1000px;
    
}

textarea{
    margin-top: 30px;
    height: 250px;
    width: 800px;
}

input {
    margin-top: 10px;
    height: 30px;
}

label {
    font-size: 25px;
}


/*  Id selector  */
/* Home page */

#why {
    position: relative;
    top: 3rem;

}

#webname {
    position: relative;
    font-family: fantasy;
    margin-top: 0.5rem;
    right: -6rem; 
    font-size: 35px;
}

#navbar {
    position: relative;
    font-size: 20px;
    right: -70rem;
    word-spacing: 70px;
}

#para1 {
   
    text-align: center;
    width: 350px;
    height: 375px;
    font-size: 15px;
    top: -3rem;
    position: relative;
    right: -55rem;
    display: inline-block;
}

#img1 { 
   
    position: relative;
    height: 345px;
    top: 4rem;
    width: 650px;
    left: -400px ;
    display: inline-block;

}

#para2 {
   
    text-align: center;
    width: 350px;
    height: 375px;
    font-size: 15px;
    top: 0rem;
    left: -2rem;
    position: relative;
    display: inline-block;
}

#img2 { 
   
    position: relative;
    height: 345px;
    top: -15rem;
    width: 650px;
    left: 675px ;
    display: inline-block;

}

#img3 { 
   
    position: relative;
    height: 345px;
    top: -0rem;
    width: 650px;
    left: -450px ;
    display: inline-block;

}

#para3 {
   
    text-align: center;
    width: 350px;
    height: 375px;
    font-size: 15px;
    top: -5rem;
    right: -55rem;
    position: relative;
    display: inline-block;
}

/*about*/

#accomplishments{
    text-align: center;
}

#experience{
    text-align: center;
}

/*booking*/

#contactme {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center;
    font-size: 40px;
}

#subbutton {
height: 50px;
width: 100px;
}

